<html>
    <head>
        <style>
            body {
                background-color: lightgreen
            }
        </style>
    </head>
    <body>
        <h1>Student <%= name %></h1>
    </body>
</html>